body {
    background-color: lightgray;
}


span {
    color: red;
    font-weight: bold;
}

h1 {
    color: blue;
}

h2 {
    text-decoration: none;
}

a {
    font-weight: bold;
}

.red {
    background-color: red;
}

p.green {
    background-color: green;
}

.blue{
    background-color: blue;
}

p.red a{
    color: purple;
}

li.seen {
    color: silver;
}

li.unseen {
    color: orangered;
}

li.seen.good {
    color: mediumseagreen;
}

a:hover {
    text-decoration: underline;
    color: white;
}